<md-content flex="grow" class="bg-dashboard" layout="column" layout-align="start center" layout-padding>
  <div layout="row" layout-align="center center" layout-margin>
    <i class="fa fa-3x fa-file-text-o"></i>
    <h1 class="text-center">Pre-Registros</h1>
  </div>
  <div layout layout-align="center" flex>
    <div flex>
      <h2 ng-if="preSignups.length === 0">No hay pre-registros pendientes</h2>
      <md-card ng-repeat="preSignup in preSignups">
        <md-card-content>
          <div layout layout-align="center center">
            <div layout="column" layout-align="center center">
              <h5 class="m-b-0">Tipo de Cliente:</h5>
              <h4>{{preSignup.AccountType ? 'Persona Moral' : 'Persona Física' }}</h4>
            </div>
          </div>
          <hr>
          <div layout layout-margin>
            <h4 class="bold">Nombre:</h4>
            <h4>{{preSignup.UserName}} {{preSignup.FirstSurname}} {{preSignup.SecondSurname}}</h4>
          </div>
          <div layout layout-margin layout-wrap>
            <h4 class="bold">Correo Electrónico:</h4>
            <h4>{{preSignup.Email}}</h4>
          </div>
        </md-card-content>
        <md-card-actions layout layout-align="end">
          <md-button ng-href="/#/contracts/{{preSignup.Id}}" class="md-primary md-raised">CONTINUAR</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>
