<md-content flex="grow">
  <section id="header" class="bg-bank" layout="column">
    <div class="jumbotron bg-shadow fill-width" flex layout="column" layout-align="center center" layout-padding>
      <h1 class="text-center md-display-2">Fake Bank</h1>
      <hr>
      <h2 class="text-center" layout-margin>Somos un banco ficticio de confianza,
        dispuestos a ofrecete la mejor opción.</h2>
      <a ng-click="goToPlans()">
        <i class="fa fa-2x fa-chevron-down"></i>
      </a>
    </div>
  </section>
  <section id="plans" layout="column">
    <div flex layout="column" layout-align="center center">
      <h1 class="text-center">
        Tenemos dos opciones para ti
      </h1>
      <div layout layout-xs="column" layout-align="center" layout-align-xs="center center">
        <md-card flex="40" flex-xs="50" ng-repeat="plan in plans">
          <img src="{{plan.imgSrc}}" class="md-card-image">
          <md-card-title>
            <span class="md-headline">{{plan.title}}</span>
          </md-card-title>
          <md-card-content>
            <p>{{plan.description}}</p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end">
            <md-button class="md-primary" ng-click="selectPlan(plan)">Elegir</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </section>
  <section id="signup" class="bg-signup" layout="column">
    <div class="bg-shadow-teal" flex layout="column" layout-align="center center">
      <h1 class="text-center">Seamos socios</h1>
      <h3>Pre-registrate con nosotros para contratar nuestros servicios.</h3>
      <div layout layout-align="center" class="fill-width">
        <md-card flex="70" layout-padding layout-align="center">
          <md-card-content flex>
            <md-content layout="column">
              <md-input-container>
                <label>Tipo de Socio</label>
                <md-select ng-model="partner.plan.id">
                  <md-option ng-repeat="plan in plans" value={{plan.id}}>
                    {{plan.title}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container>
                <label>Nombre</label>
                <input ng-model="partner.name">
              </md-input-container>
              <md-input-container>
                <label>E-mail</label>
                <input ng-model="partner.email">
              </md-input-container>
              <md-input-container>
                <label>Teléfono</label>
                <input ng-model="partner.phone">
              </md-input-container>
            </md-content>
          </md-card-content>
          <md-card-actions layout layout-align="end">
            <md-button class="md-primary md-raised">Registrar</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </section>
</md-content>
