<md-content flex="grow" class="bg-dashboard" layout="column" layout-align="start center" layout-padding>
  <div layout="row" layout-align="center center" layout-margin>
    <i class="fa fa-3x fa-file-text-o"></i>
    <h1 class="text-center">Cuentas de {{username}}</h1>
  </div>
  <div layout layout-align="center" flex>
    <div flex>
      <md-card ng-repeat="account in accounts">
        <md-card-content>
          <div layout layout-align="center center">
            <div layout="column" layout-align="center center">
              <h5 class="m-b-0">Número de Cuenta:</h5>
              <h4>{{ account.Id }}</h4>
            </div>
          </div>
          <hr>
          <div layout layout-margin>
            <h4 class="bold">Número de Tarjeta:</h4>
            <h4>{{ account.CardNumber | creditCard }}</h4>
          </div>
          <div layout layout-margin layout-wrap>
            <h4 class="bold">Expiración:</h4>
            <h4>{{ account.Card.ExpirationDate }}</h4>
          </div>
          <div layout layout-margin layout-wrap>
            <h4 class="bold">Código de Seguridad:</h4>
            <h4>{{ account.Card.SecurityCode }}</h4>
          </div>
          <div class="text-right" layout-margin layout-wrap>
            <h2>{{account.Balance | currency }}</h2>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
