<md-content flex="grow" class="bg-dashboard">
  <h1 class="text-center">Realizar una Transacción</h1>
  <hr>
  <div layout layout-align="center">
    <md-card flex="80" layout-padding>
      <md-card-content layout="column">
        <div layout layout-align="end">
          <div layout="column" layout-align="center end">
            <h3 class="m-b-0">Saldo Actual:</h3>
            <h2>$3500.00</h2>
          </div>
        </div>
        <form layout="column">
          <md-input-container>
            <label>Cuenta destino</label>
            <input>
          </md-input-container>
          <md-input-container>
            <label>Monto</label>
            <input>
          </md-input-container>
        </form>
      </md-card-content>
      <md-card-ations layout layout-align="end">
        <md-button class="md-primary md-raised" ng-click="showModal()">Aceptar</md-button>
      </md-card-ations>
    </md-card>
  </div>
</md-content>
