<md-content flex="grow" class="bg-dashboard">
  <h1 class="text-center">Realizar una Transacción</h1>
  <hr>
  <div layout layout-align="center">
    <md-card flex="80" layout-padding>
      <form ng-submit="transfer()" layout="column" novalidate>
        <md-card-content layout="column">
          <div layout layout-align="end">
            <div ng-if="balance" layout="column" layout-align="center end">
              <h3 class="m-b-0">Saldo Actual:</h3>
              <h2>{{balance | currency}}</h2>
            </div>
          </div>
          <md-input-container>
            <label>Tarjeta</label>
            <md-select ng-model="transaction.IdAccount" ng-change="updateBalance()" required>
              <md-option ng-repeat="account in accounts" value="{{account.Id}}">
                {{account.CardNumber | creditCard}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>Tarjeta destino</label>
            <input ng-model="transaction.CardNumber" required>
          </md-input-container>
          <md-input-container>
            <label>Monto</label>
            <input type="number" ng-model="transaction.Amount" required>
          </md-input-container>
        </md-card-content>
        <md-card-ations layout layout-align="end">
          <md-button type="submit" class="md-primary md-raised">Aceptar</md-button>
        </md-card-ations>
      </form>
    </md-card>
  </div>
</md-content>
